.container{
	width: 1143px;
	margin: 0 auto;
}




.block{
	margin-top: 110px;
	margin-left: 0 auto;
	white-space:nowrap;
	margin-bottom: 20px;
}

.block__item{

	white-space: normal;
	font-size: 25px;
	display:inline-block;
	vertical-align:top;
	width:263px;
	height:263px;
	margin-right:25px;
	color: #EEEEEE;
}
.blue{
	background-color: grey;
	
}

.violet{
	background-color: grey;
}

.yellow{
	background-color: grey;
}

.red{
	background-color: grey;
	display:inline-block;
}
img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
	z-index: -1;

  /* Зависит от размера изображения */
  @media screen and (max-width: 640px){
	img.bg {
	  left: 50%;
	  margin-left: -320px;
	}
  }
}