html {
	font-family: 'Open Sans', sans-serif;
	background: url(pattern.png);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
	position: relative;
}


header {
	height: 150px;
}

header img {
	width: 100px;
	position: absolute;
	right: 32.5px;
	top: 32.5px;
}

h1 {
	font-size: 50px;
	line-height: 140px;
	margin: 0 0 0 32.5px;
}

main {
	background: #ccc;
	
}


article {
	padding: 20px;
	clear: left;
}

h2 {
	margin-top: 0;
}

p {
	line-height: 2;
}

iframe {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
	border: 0px;
}

.further-info {
	clear: left;
	padding: 10px;
	background: black;
	box-shadow: inset 0 3px 2px rgba(0,0,0,0.5),
							inset 0 -3px 2px rgba(0,0,0,0.5);
}
.clearfix {
	clear: both;
}


.img_logo {
	float:left;
	padding: 0;
	width: 20%;
	position: inherit;
}

.container {
	display: flex;
  justify-content: space-between;
  align-items: center;
}